body {
	background-color: #ccc;
}
h1.mbr-section-title.display-1 {
    font-family: 'Rouge Script', cursive;
}
div.icons {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    margin-top: 1.5%;
    z-index: 2000;
}
div.icons .fa {
    margin-right: 25px;
}
.navbar-dropdown .mbr-table-cell {
    height: 4rem;
}
#containerBody {
    background-color: #222;
    margin-left: auto;
    margin-right: auto;
	margin-top: 64px;
}
#addTemplate {
	position: fixed;
	right: 1%;
	bottom: 2%;
	border-radius: 50%;
	padding: 8px 11px;
	cursor: pointer;
	background-color: #fff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index: 1;
}
#addTemplate:hover{
	background-color: #000;
	color: #fff;
}
#addTemplate.active{
	right: 320px;
}
.templates {
	height: auto;
}
.templates.active {
	border: 3px solid blue;
}
.templateEditIcons {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	background-color: #fff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.templateIcons {
	padding: 8px 10px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar-brand.fright{
	z-index: 2001;
}
.templateIcons:hover {
	color: #fff;
	background-color: #000;
}
.fright {
	float:right !important;
}
.fleft{
	float: left !important;
}
.hide {
	display: none;
}
#sideNav {
	width: 0px;
	position: fixed;
	background-color: rgba(0,0,0,0.6);
	right: 0;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index: 1;
}
#sideNav.active {
	width: 300px;
}
#sideNav .display-1 {
	font-size: 2rem;
}
#sideNav .mbr-section-hero .mbr-section-lead {
	font-size: 0.5rem;
}
#sideNav .btn-lg {
    padding: 0.35rem 1.0rem;
    font-size: 0.3rem;
}
#sideNav .mbr-section {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
}